power_automate/extracted/Microsoft.Flow/flows/ad33d86f-e6e6-43c3-af32-241263a8a6ce/definition.json
{"properties":{"displayName":"GestaoFerias_VacationApproval","state":"Started","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created":{"type":"OpenApiConnection","recurrence":{"frequency":"Minute","interval":3},"inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetOnNewItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"__SP_SITE__","table":"8a605bcd-d27c-449c-8722-d51094184ade"},"authentication":"@parameters('$authentication')"},"splitOn":"@triggerOutputs()?['body/value']"}},"actions":{"Initialize_varApproverEmail":{"type":"InitializeVariable","runAfter":{},"inputs":{"variables":[{"name":"varApproverEmail","type":"String","value":"@triggerOutputs()?['body/AprovadorEmail']"}]}},"Initialize_varEmployeeEmail":{"type":"InitializeVariable","runAfter":{"Initialize_varApproverEmail":["Succeeded"]},"inputs":{"variables":[{"name":"varEmployeeEmail","type":"String","value":"@triggerOutputs()?['body/ColaboradorEmail']"}]}},"Initialize_varRequestId":{"type":"InitializeVariable","runAfter":{"Initialize_varEmployeeEmail":["Succeeded"]},"inputs":{"variables":[{"name":"varRequestId","type":"Integer","value":"@triggerOutputs()?['body/ID']"}]}},"GetEmployeeDetails":{"type":"OpenApiConnection","runAfter":{"Initialize_varRequestId":["Succeeded"]},"inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"__SP_SITE__","table":"7999e98b-a6c5-48da-92c9-13ba23eafff0","$filter":"Email eq '@{variables('varEmployeeEmail')}'","$top":1},"authentication":"@parameters('$authentication')"}},"Condition_Status_PENDING":{"type":"If","runAfter":{"GetEmployeeDetails":["Succeeded"]},"expression":{"and":[{"equals":["@coalesce(triggerOutputs()?['body/Status/Value'], triggerOutputs()?['body/Status'])","PENDING"]}]},"actions":{"Condition_Employee_Found":{"type":"If","expression":{"and":[{"greater":["@length(outputs('GetEmployeeDetails')?['body/value'])",0]}]},"actions":{"PostApprovalCard":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_teams","operationId":"PostCardAndWaitForResponse","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/body/recipient/to":"@{coalesce(first(outputs('GetEmployeeDetails')?['body/value'])?['AprovadorEmail'], variables('varApproverEmail'))}","body/body/messageBody":"{\n  \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n  \"type\": \"AdaptiveCard\",\n  \"version\": \"1.4\",\n  \"body\": [\n    {\n      \"type\": \"Container\",\n      \"style\": \"emphasis\",\n      \"items\": [\n        {\n          \"type\": \"TextBlock\",\n          \"text\": \"Solicitacao de Ferias\",\n          \"weight\": \"Bolder\",\n          \"size\": \"Large\",\n          \"color\": \"Accent\"\n        },\n        {\n          \"type\": \"TextBlock\",\n          \"text\": \"Aprovacao pendente\",\n          \"spacing\": \"None\",\n          \"isSubtle\": true\n        }\n      ]\n    },\n    {\n      \"type\": \"FactSet\",\n      \"facts\": [\n        {\n          \"title\": \"Colaborador:\",\n          \"value\": \"@{first(outputs('GetEmployeeDetails')?['body/value'])?['NomeCompleto']}\"\n        },\n        {\n          \"title\": \"E-mail:\",\n          \"value\": \"@{variables('varEmployeeEmail')}\"\n        },\n        {\n          \"title\": \"Periodo:\",\n          \"value\": \"@{formatDateTime(triggerOutputs()?['body/DataInicio'], 'dd/MM/yyyy')} a @{formatDateTime(triggerOutputs()?['body/DataFim'], 'dd/MM/yyyy')}\"\n        },\n        {\n          \"title\": \"Total de dias:\",\n          \"value\": \"@{triggerOutputs()?['body/DiasUteis']} dias uteis\"\n        },\n        {\n          \"title\": \"Conflito com equipe:\",\n          \"value\": \"@{if(coalesce(triggerOutputs()?['body/TemConflito'], false), 'SIM', 'Nao')}\"\n        },\n        {\n          \"title\": \"Observacoes:\",\n          \"value\": \"@{triggerOutputs()?['body/Observacoes']}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"Comentario (opcional):\",\n      \"weight\": \"Bolder\",\n      \"spacing\": \"Medium\"\n    },\n    {\n      \"type\": \"Input.Text\",\n      \"id\": \"comments\",\n      \"placeholder\": \"Adicione um comentario...\",\n      \"isMultiline\": true,\n      \"maxLength\": 500\n    }\n  ],\n  \"actions\": [\n    {\n      \"type\": \"Action.Submit\",\n      \"title\": \"Aprovar\",\n      \"style\": \"positive\",\n      \"data\": {\n        \"action\": \"approve\"\n      }\n    },\n    {\n      \"type\": \"Action.Submit\",\n      \"title\": \"Rejeitar\",\n      \"style\": \"destructive\",\n      \"data\": {\n        \"action\": \"reject\"\n      }\n    }\n  ]\n}"},"authentication":"@parameters('$authentication')"}},"Condition_Approved":{"type":"If","runAfter":{"PostApprovalCard":["Succeeded"]},"expression":{"and":[{"equals":["@body('PostApprovalCard')?['data']?['action']","approve"]}]},"actions":{"Condition_Balance_Record_Found":{"type":"If","runAfter":{"GetCurrentBalance":["Succeeded"]},"expression":{"and":[{"greater":["@length(outputs('GetCurrentBalance')?['body/value'])",0]}]},"actions":{"Update_Balance_Deduct":{"type":"OpenApiConnection","runAfter":{},"inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"__SP_SITE__","table":"a40b3918-e16d-4ee8-b621-4fafde78cebe","id":"@{first(outputs('GetCurrentBalance')?['body/value'])?['ID']}","item/Title":"@{first(outputs('GetCurrentBalance')?['body/value'])?['Title']}","item/SaldoDisponivel":"@{sub(first(outputs('GetCurrentBalance')?['body/value'])?['SaldoDisponivel'], triggerOutputs()?['body/DiasUteis'])}","item/DiasAgendados":"@{add(first(outputs('GetCurrentBalance')?['body/value'])?['DiasAgendados'], triggerOutputs()?['body/DiasUteis'])}","item/DataAtualizacao":"@{utcNow()}"},"authentication":"@parameters('$authentication')"}},"Update_Status_APPROVED":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"__SP_SITE__","table":"8a605bcd-d27c-449c-8722-d51094184ade","id":"@variables('varRequestId')","item/Title":"@{triggerOutputs()?['body/Title']}@{utcNow()}","item/Status":"APPROVED","item/DataAprovacao":"@{utcNow()}"},"authentication":"@parameters('$authentication')"},"runAfter":{"Update_Balance_Deduct":["Succeeded"]}},"Notify_Employee_Teams_Approved":{"type":"OpenApiConnection","runAfter":{"Update_Status_APPROVED":["Succeeded"]},"inputs":{"host":{"connectionName":"shared_teams","operationId":"PostMessageToConversation","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{variables('varEmployeeEmail')}","body/messageBody":"Suas ferias foram APROVADAS!\n\nPeriodo: @{formatDateTime(triggerOutputs()?['body/DataInicio'], 'dd/MM/yyyy')} a @{formatDateTime(triggerOutputs()?['body/DataFim'], 'dd/MM/yyyy')}\nTotal: @{triggerOutputs()?['body/DiasUteis']} dias\n\nAprovado por: @{variables('varApproverEmail')}"},"authentication":"@parameters('$authentication')"}},"Notify_Employee_Email_Approved":{"type":"OpenApiConnection","runAfter":{"Notify_Employee_Teams_Approved":["Succeeded","Failed","Skipped"]},"inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@{variables('varEmployeeEmail')}","emailMessage/Subject":"Ferias Aprovadas - @{formatDateTime(triggerOutputs()?['body/DataInicio'], 'dd/MM/yyyy')} a @{formatDateTime(triggerOutputs()?['body/DataFim'], 'dd/MM/yyyy')}","emailMessage/Body":"<h2>Suas ferias foram APROVADAS!</h2><p><b>Periodo:</b> @{formatDateTime(triggerOutputs()?['body/DataInicio'], 'dd/MM/yyyy')} a @{formatDateTime(triggerOutputs()?['body/DataFim'], 'dd/MM/yyyy')}</p><p><b>Total:</b> @{triggerOutputs()?['body/DiasUteis']} dias</p><p><b>Aprovado por:</b> @{variables('varApproverEmail')}</p>"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{"Terminate_Balance_Not_Found":{"type":"Terminate","inputs":{"runStatus":"Failed"}}}}},"GetCurrentBalance":{"type":"OpenApiConnection","runAfter":{},"inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"__SP_SITE__","table":"a40b3918-e16d-4ee8-b621-4fafde78cebe","$filter":"ColaboradorEmail eq '@{variables('varEmployeeEmail')}'","$top":1},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{"Update_Status_REJECTED":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"__SP_SITE__","table":"8a605bcd-d27c-449c-8722-d51094184ade","id":"@variables('varRequestId')","item/Title":"@{triggerOutputs()?['body/Title']}@{utcNow()}","item/Status":"REJECTED","item/DataAprovacao":"@{utcNow()}"},"authentication":"@parameters('$authentication')"}},"Notify_Employee_Teams_Rejected":{"type":"OpenApiConnection","runAfter":{"Update_Status_REJECTED":["Succeeded"]},"inputs":{"host":{"connectionName":"shared_teams","operationId":"PostMessageToConversation","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{variables('varEmployeeEmail')}","body/messageBody":"Sua solicitacao de ferias foi REJEITADA.\n\nPeriodo solicitado: @{formatDateTime(triggerOutputs()?['body/DataInicio'], 'dd/MM/yyyy')} a @{formatDateTime(triggerOutputs()?['body/DataFim'], 'dd/MM/yyyy')}\nMotivo: @{body('PostApprovalCard')?['data']?['comments']}\n\nEntre em contato com seu gestor para mais informacoes."},"authentication":"@parameters('$authentication')"}},"Notify_Employee_Email_Rejected":{"type":"OpenApiConnection","runAfter":{"Notify_Employee_Teams_Rejected":["Succeeded","Failed","Skipped"]},"inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@{variables('varEmployeeEmail')}","emailMessage/Subject":"Ferias Rejeitadas - @{formatDateTime(triggerOutputs()?['body/DataInicio'], 'dd/MM/yyyy')} a @{formatDateTime(triggerOutputs()?['body/DataFim'], 'dd/MM/yyyy')}","emailMessage/Body":"<h2>Sua solicitacao de ferias foi REJEITADA.</h2><p><b>Periodo solicitado:</b> @{formatDateTime(triggerOutputs()?['body/DataInicio'], 'dd/MM/yyyy')} a @{formatDateTime(triggerOutputs()?['body/DataFim'], 'dd/MM/yyyy')}</p><p><b>Motivo:</b> @{body('PostApprovalCard')?['data']?['comments']}</p><p>Entre em contato com seu gestor para mais informacoes.</p>"},"authentication":"@parameters('$authentication')"}}}}}},"else":{"actions":{"Terminate_Employee_Not_Found":{"type":"Terminate","inputs":{"runStatus":"Failed"}}}}}},"else":{"actions":{"Terminate_Not_Pending":{"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}}}},"outputs":{}},"flowFailureAlertSubscribed":true}}