flows/Flow_07_CancelarSolicitacao.json
{
    "name": "CancelarSolicitacao",
    "displayName": "Cancelar Solicitação de Férias",
    "description": "Cancela uma solicitação de férias pendente",
    "trigger": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
            "schema": {
                "type": "object",
                "required": [
                    "id_solicitacao",
                    "email_colaborador",
                    "motivo"
                ],
                "properties": {
                    "id_solicitacao": {
                        "type": "integer"
                    },
                    "email_colaborador": {
                        "type": "string"
                    },
                    "motivo": {
                        "type": "string"
                    }
                }
            }
        }
    },
    "actions": {
        "Parse_Request": {
            "type": "ParseJson",
            "inputs": {
                "content": "@triggerBody()"
            }
        },
        "Get_Solicitacao": {
            "type": "OpenApiConnection",
            "runAfter": {
                "Parse_Request": [
                    "Succeeded"
                ]
            },
            "inputs": {
                "host": {
                    "connectionName": "shared_sharepointonline",
                    "operationId": "GetItem"
                },
                "parameters": {
                    "dataset": "https://indra365.sharepoint.com/sites/Grp_T_DN_Arquitetura_Solucoes_Multi_Praticas_QA",
                    "table": "Solicitacoes_Ferias",
                    "id": "@{body('Parse_Request')?['id_solicitacao']}"
                }
            }
        },
        "Check_Can_Cancel": {
            "type": "If",
            "runAfter": {
                "Get_Solicitacao": [
                    "Succeeded"
                ]
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@body('Get_Solicitacao')?['ColaboradorEmail']",
                            "@body('Parse_Request')?['email_colaborador']"
                        ]
                    },
                    {
                        "equals": [
                            "@body('Get_Solicitacao')?['Status']",
                            "Pendente"
                        ]
                    }
                ]
            },
            "actions": {
                "Update_Status_Cancelado": {
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "connectionName": "shared_sharepointonline",
                            "operationId": "PatchItem"
                        },
                        "parameters": {
                            "dataset": "https://indra365.sharepoint.com/sites/Grp_T_DN_Arquitetura_Solucoes_Multi_Praticas_QA",
                            "table": "Solicitacoes_Ferias",
                            "id": "@{body('Parse_Request')?['id_solicitacao']}",
                            "item": {
                                "Status": "Cancelado",
                                "Observacoes": "Cancelado pelo colaborador: @{body('Parse_Request')?['motivo']}"
                            }
                        }
                    }
                },
                "Success_Response": {
                    "type": "Response",
                    "runAfter": {
                        "Update_Status_Cancelado": [
                            "Succeeded"
                        ]
                    },
                    "kind": "Http",
                    "inputs": {
                        "statusCode": 200,
                        "body": {
                            "sucesso": true,
                            "mensagem": "Solicitação cancelada com sucesso."
                        }
                    }
                }
            },
            "else": {
                "actions": {
                    "Error_Response": {
                        "type": "Response",
                        "kind": "Http",
                        "inputs": {
                            "statusCode": 400,
                            "body": {
                                "sucesso": false,
                                "erro": "Não é possível cancelar esta solicitação. Status atual ou proprietário inválido."
                            }
                        }
                    }
                }
            }
        }
    }
}