flows/Flow_10_EnviarNotificacaoTeams.json
{
    "name": "EnviarNotificacaoTeams",
    "displayName": "Enviar Notificação Teams",
    "description": "Envia notificação via Teams e Email para destinatários",
    "trigger": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
            "schema": {
                "type": "object",
                "required": [
                    "destinatario_email",
                    "assunto",
                    "mensagem"
                ],
                "properties": {
                    "destinatario_email": {
                        "type": "string"
                    },
                    "assunto": {
                        "type": "string"
                    },
                    "mensagem": {
                        "type": "string"
                    },
                    "tipo": {
                        "type": "string",
                        "enum": [
                            "info",
                            "sucesso",
                            "alerta",
                            "erro"
                        ]
                    },
                    "enviar_email": {
                        "type": "boolean",
                        "default": true
                    }
                }
            }
        }
    },
    "actions": {
        "Parse_Request": {
            "type": "ParseJson",
            "inputs": {
                "content": "@triggerBody()"
            }
        },
        "Send_Teams_Message": {
            "type": "OpenApiConnection",
            "runAfter": {
                "Parse_Request": [
                    "Succeeded"
                ]
            },
            "inputs": {
                "host": {
                    "connectionName": "shared_teams",
                    "operationId": "PostMessageToConversation"
                },
                "parameters": {
                    "body/recipient": "@{body('Parse_Request')?['destinatario_email']}",
                    "body/messageBody": "@{body('Parse_Request')?['mensagem']}"
                }
            }
        },
        "Condition_Send_Email": {
            "type": "If",
            "runAfter": {
                "Send_Teams_Message": [
                    "Succeeded"
                ]
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@coalesce(body('Parse_Request')?['enviar_email'], true)",
                            true
                        ]
                    }
                ]
            },
            "actions": {
                "Send_Email": {
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "connectionName": "shared_office365",
                            "operationId": "SendEmailV2"
                        },
                        "parameters": {
                            "emailMessage/To": "@{body('Parse_Request')?['destinatario_email']}",
                            "emailMessage/Subject": "@{body('Parse_Request')?['assunto']}",
                            "emailMessage/Body": "@{body('Parse_Request')?['mensagem']}"
                        }
                    }
                }
            }
        },
        "Response": {
            "type": "Response",
            "runAfter": {
                "Condition_Send_Email": [
                    "Succeeded"
                ]
            },
            "kind": "Http",
            "inputs": {
                "statusCode": 200,
                "body": {
                    "sucesso": true,
                    "mensagem": "Notificação enviada com sucesso."
                }
            }
        }
    }
}